/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-size: 16px;
    font-weight: 400;
    font-size: 15px;
    color: #3B3B3B;
    line-height: 1.7;
}
a:hover { text-decoration: none }
.service-box-bg-1 {
    background-image: url(../img/bg_01.jpg)
}
.service-box-bg-2 {
    background-image: url(../img/bg_02.jpg)
}
.service-box-bg-3 {
    background-image: url(../img/bg_03.jpg)
}
.service-box-bg {
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-color: #ddd;
    position: relative;
}
.section-padding {
    padding: 80px 0;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 0 40px;
}
.section-title h2 {
    font-size: 35px;
    text-transform: uppercase;
}
.single-service-box {
    border: 1px solid #EBEBEB;
    text-align: center;
    
}
.single-service-box h3 {
    background-color: #F97230;
    margin-left: 8%;
    width: 84%;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    left: 0;
    bottom: -20px;
    margin-bottom: 0;
}
.service-content {
    padding: 25px;
}
.service-content p {
    margin-top: 25px;
}
.service-readmore-btn  {
    font-weight: 700;
    color: #333;
    margin-top: 15px;
    display: inline-block;
}
.service-readmore-btn:hover  {
    color: #333;
}
.service-readmore-btn:hover i.fa  {
    color: #F97230;
}
.service-readmore-btn i.fa  {
    margin-left: 10px;
}
