/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero-text h1 {color: #f00;}

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-text h1 {color: #0f0;}

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .hero-text h1 {color: #00f;}
    .welcome-area {
        height: auto;
    }
    .welcome-area .d-table {
        height: auto;
        display: block!important;
    }
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .main-menu {
        text-align: center;
    }
    .copyright-area {
        position: relative;
        text-align: center;
    }
    .copyright-area ul {
        text-align: center;
        margin: 0 15px;
    }
    .hero-text {
        padding-top: 180px;
    }
    .hero-text h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .hero-text p {
        margin-bottom: 30px;
    }
    .email-subscribe-form input[type="text"] {
        margin-bottom: 15px;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .hero-text h1 {color: #ff0;}
}
