@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i,900');
body {
    font-size: 15px;
    color: #333;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 100px;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}

.header-top {
    background-color: #0A0A0A;
    padding: 14px 0;
}

.header-top,
.header-top a {
    color: #F5F3F3;
}

.header-top i.fa {
    color: #FC721E;
    margin-right: 10px;
}

.header-top i.fa.fa-phone {
    margin-left: 20px;
}

.social-links a {
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #F5F3F3;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    margin-left: 8px;
    transition: .3s;
}

.social-links a:hover {
    background-color: #FC721E;
    border-color: #FC721E;
}

.social-links i.fa {
    color: #F5F3F3;
    margin-right: 0;
}

.logo {
    color: #0A0A0A;
    display: inline-block;
    border: 1px solid #5E5E5E;
    padding: 15px 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
}

.header-area {
    padding: 18px 0;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 3.5px;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    color: #0A0A0A;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid transparent;
    transition: .3s;
}

.main-menu ul li:hover > a {
    border: 1px solid #FC721E;
}

/*--------------- Slider Area --------------*/

.slider-area {
    margin-bottom: -35px;
}

.single-slider-item {
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    height: 700px;
    color: #fff;
    font-size: 16px;
}

.single-slider-item:after {
    position: absolute;
    z-index: -1;
    background-color: #050505;
    opacity: .8;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider-bg-1 {
    background-image: url(../img/slider-bg-1.jpg)
}

.slider-bg-2 {
    background-image: url(../img/slider-bg-2.jpg)
}

.slider-bg-3 {
    background-image: url(../img/slider-bg-3.jpg)
}

.single-slider-item h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.boxed-btn {
    display: inline-block;
    background-color: #FC721E;
    border: 1px solid #FC721E;
    padding: 8px 35px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
    font-weight: 600;
}

.boxed-btn.bordered-btn {
    background-color: transparent;
    border-color: #fff;
    margin-left: 10px;
}

.slider-area .owl-dots {
    position: relative;
    left: 0;
    top: -80px;
    bottom: 40px;
    width: 100%;
    z-index: 5;
    width: 1110px;
    margin: 0 auto;
}

.slider-area .owl-dots button {
    height: 25px;
    width: 2px;
    background-color: #fff;
    display: inline-block;
    margin-right: 8px;
}

.slider-area .owl-dots button.active {
    height: 30px;
    background-color: #FC721E;
}

/*---------------------------------------------------*/

.single-service-item {
    position: relative;
    z-index: 1;
    transition: .3s;
}

.single-service-item:hover {
    box-shadow: 0 0 15px #999;
}

.service-bg {
    background-size: cover;
    background-color: #7C7272;
    background-position: center;
    height: 200px;
}

.service-bg-1 {
    background-image: url(../img/service-bg-1.jpg);
}

.service-bg-2 {
    background-image: url(../img/service-bg-2.jpg);
}

.service-bg-3 {
    background-image: url(../img/service-bg-3.jpg);
}

.service-box-title {
    position: absolute;
    width: 100%;
    top: 180px;
    left: 0;
    z-index: 1;
}

.service-box-title h5 {
    width: 80%;
    background-color: #FC721E;
    color: #fff;
    margin: 0 auto;
    padding: 8px 0;
    font-weight: 500;
}

.service-content {
    padding: 60px 15px 35px;
    border: 1px solid #5C5C5C;
    border-top: 0;
}

.service-content {
    padding: 60px 15px 35px;
    border: 1px solid #E8E7E7;
    border-top: 0;
}

.inline-btn {
    font-weight: 900;
    font-size: 16px;
    transition: .3s;
    color: #0c0c0c;
}

.inline-btn i.fa {
    padding-left: 5px;
}

.inline-btn:hover {
    color: #FC721E;
}

/*---------------------------------------------------*/

.gray-bg {
    background-color: #F4F4F4;
}

.about-img {
    position: relative;
}

.about-img:before,
.about-img:after {
    position: absolute;
    left: -4px;
    top: 15%;
    height: 70%;
    width: 4px;
    content: "";
    background-color: #FC721E;
}

.about-img:after {
    left: auto;
    right: -4px;
}

/*-------------------------------------*/

.cta-area {
    padding: 60px;
    background-color: #FC721E;
}

.cta-area .boxed-btn {
    margin: 0;
    background-color: #fff;
    color: #1c1c1c;
    font-weight: 500;
    font-size:16px;
}

.cta-area h4 {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}

/*----------------------------------------*/

.single-project-item {
    position: relative;
    padding-left: 270px;
    margin-bottom: 30px;
    padding-top: 75px;
    padding-bottom: 40px;
}

.single-project-item h5 {
    color: #000;
    transition: .3s;
}

.project-bg-1 {
    background-image: url(../img/project-bg-1.jpg)
}
.project-bg-2 {
    background-image: url(../img/project-bg-2.jpg)
}
.project-bg-3 {
    background-image: url(../img/project-bg-3.jpg)
}
.project-bg-4 {
    background-image: url(../img/project-bg-4.jpg)
}

.project-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 240px;
    background-size: cover;
    background-position: center;
    background-color: #000;
    z-index: 1;
}

.project-bg:after, .team-thumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    content: "";
    visibility: hidden;
    transition: .3s;
    z-index: -1;
}

.single-project-item:hover .project-bg:after, .single-team-member:hover .team-thumb:after {
    opacity: .85;
    visibility: visible;
}

.single-project-item:hover h5, .single-project-item:hover .inline-btn {
    color: #FC721E;
}

/*--------------------------*/

.team-thumb {
    background-position: center top;
    background-size: cover;
    height: 305px;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}

.team-thumb:after {
    background-color: #FC721E;
}

.team-bg-1 {background-image: url(../img/team-bg-1.jpg)}
.team-bg-2 {background-image: url(../img/team-bg-2.jpg)}
.team-bg-3 {background-image: url(../img/team-bg-3.jpg)}
.team-bg-4 {background-image: url(../img/team-bg-4.jpg)}

.team-info {
    border: 1px solid #E9E8E8;
    padding: 25px 20px;
}

.team-info h5 {
    color: #000;
}

.single-team-member .social-links a {
    width: 35px;
    height: 35px;
    border-radius: 0;
    line-height: 32px;
    background-color: transparent;
    border-color: #000;
}

.single-team-member .social-links a:hover {
    border-color: #FC721E;
}

.single-team-member .social-links i.fa {
    color: #000;
    transition: .3s;
}
.single-team-member .social-links a:hover i.fa {
    color: #FC721E;
}

.single-logo-wrap {
    text-align:
}

.carousel-area {
    padding: 40px 0;
    border-top: 1px solid #D7D5D5;
    border-bottom: 1px solid #D7D5D5;
}

.owl-carousel .owl-item .single-logo-wrap img {
    max-width: 145px;
    height: auto;
    display: block;
    margin: 0 auto;
}


/*---------------------------------------*/

.footer-site {
    background-color: #000;
    padding-top: 90px;
    color: #8e8c8c;
}

.about-text {
    padding-right: 50px;
}

.footer-site h5 {
    color: #fff;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer-site h5:after {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #FC721E;
    content: "";
    height: 1px;
    width: 50px;
}

h5.logo {
    color: #fff;
    border-color: #fff;
}

h5.logo:after {
    display: none;
}

.footer-site .social-links {
    display: block;
}

.footer-site ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-site ul a {
    display: inline-block;
    color: #8e8c8c;
    padding-left: 20px;
}

.footer-site .col-lg-4 p {
    position: relative;
    padding-left: 0px;
    color: #8e8c8c;
}
.footer-site p {
    position: relative;
    color: #fff;
    padding-left: 25px;
}
.footer-site p i.fa {
    color: #FC721E;
    position: absolute;
    left: 0;
    top: 6px;
}
.footer-site .email-subscribe-form {
    background-color: #232323;
    margin-top: 35px;
}
.footer-site .email-subscribe-form input, .email-subscribe-form button  {
    background-color: transparent;
    border: none;
    padding: 7px 10px;
    color: #8B8A8A;
}
.footer-site .email-subscribe-form input  {
    width: 80%;
}
.footer-site .email-subscribe-form button  {
    width: 19%;
    float: right;
    cursor: pointer;
}

.copy-right {
    padding: 30px 0;
    border-top: 1px solid #434242;
    margin-top: 65px;
}
