@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #676767;
    line-height: 1.8;
    background-color: #F9FDFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #313131;
}

input:focus,
textarea:focus,
button:focus,
a:focus,
select:focus{
    outline: none;
}

input[type="text"],input[type="email"],input[type="number"], select, textarea {
    border: 1px solid #CACACA;
    padding: 8px;
}

/*==================================================
    Home Page CSS
====================================================*/

/*--------------------------------------------------
    css for header area
----------------------------------------------------*/
.site-title h1 a {
    color: #8A64EB;
    font-size: 24px;
}
.site-title h1 a span{
    color: #F8A32A;
}
.site-title h1 a span span{
    color: #E7492E;
}

.mainmenu {
    margin-top: 20px;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu ul li {
    display: inline-block;
    margin-left: 20px;
}

.mainmenu ul li a {
    font-weight: 300;
    color: #313131;
    display: block;
}
