@import url('https://fonts.googleapis.com/css?family=Roboto:100,300i,500,700,900');
body {
    font-size: 16px;
    color: #6B7178;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 80px 0;
}

.flip-area {
    background-color: #EFEFEF;
    padding: 60px 0;
}

.flip-boxed-service {
    text-align: center;
    width: 100%;
    background-color: #fff;
    border-bottom: 3px solid #282828;
    padding: 20px;
    height: 100%;

}

.back .flip-boxed-service {
    background-color: #282828;
    border-color: #fff;
}
.back .flip-boxed-service h4, .back .flip-boxed-service i.fa {
    color: #fff;
}

.flip-boxed-service .d-table-cell {
    vertical-align: middle;
}

.flip-boxed-service i.fa {
    font-size: 100px;
    color: #000000;
}

.flip-boxed-service h4 {
    font-weight: 400;
    margin-top: 20px;
}

/******************************************/

.panel {
    margin: 0 auto;
    height: 300px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    margin-bottom: 30px;
}

.panel .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
    width: 100%;
}

.panel .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
    width: 100%;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
